<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style
        include ../static/style.css
    
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/"> About</a> </li>
            <li><a href="/"> Contact</a></li>
            <li><a href="/">Services  </a></li>
            <li><a href="/"> WorkStation</a> </li>
        </ul>
    </nav>
<div class="container" >
        <h1>Get your GYM Membership ID Today</h1>
<form action="/" id="contact" method="POST">
    <input type="text" name="name" id="name" placeholder="Enter your Name">
    <input type="text" name="age" id="name" placeholder="Enter your Age">
    <input type="text" name="gender" id="name" placeholder="Enter your Gender">
    <input type="email" name="email" id="email"  placeholder="Email@ID"></textarea>
    <textarea name="address" cols="30" rows="10" id="name" placeholder="Enter your Address"></textarea>
    <button class="submit">Submit</button>
</form>
</div>
</body>
</html>